 ul {
        position: fixed;
        margin-top: 10px;
    }
    audio {
        opacity: 100%;
        position: fixed;
        z-index: 100;
        margin-top: 500px;
        margin-left: 210px;
    }

    /*nav bar*/
        ul {
        font-family: schoolbook, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11pt;
        list-style: none;
        width: 2080px;
        height: 30px; 
        padding-top: 5px;
        position:fixed;
        z-index: 100;
        background-color: rgba(200, 165, 49, .6);
        bottom: 0px;
        align-content: center;
        
    }
    nav li {
        
        display: inline-block; 
        margin-left: 120px;
        letter-spacing: 2px;
        opacity: 100%;
        
    }
    a {
      text-decoration: none;
        color: maroon;
        opacity: 100%;
           
    }
    a:hover {
        font-size: 14pt;
        transition: .5s;
    }
    /*content*/ 
      h1 {
            margin-left:120vw;
            font-family: montserat, sans-serif;
            font-style: normal;
            font-weight: 700;
            color: #5987A1;
            margin-left: 15vw;
            font-size: 5vw;
            position: absolute;
            margin-top: 39vh;
            z-index: 40;
            
            }
    .plastic {
                display: grid;
                grid-template-columns: 80px 100px 100px 120px;
                align-items: baseline;
                align-items: right;
                margin-left: 50px;
                z-index: 4;
                position:absolute;
                margin-top:40px;
                opacity: 100%
            } 
    .plasticbag {
                z-index: 0;
                margin-top:80px;
                margin-left:
                opacity: 100%;
                position:absolute;
                transition: 30s;
        
        }
    .plasticbag:hover {
        transform:rotate(60deg);
        
    }
    
    .baby {
        position: fixed;
        margin-left: 170px;
        z-index:-10;
        width:300vw;
        
    }
    .baby:hover {
        
    }
    p{
            font-family: montserat;
            font-style: normal;
            font-weight: 200;
            color: grey;
            width: 35vw;
            margin-left: 50vw;
            padding-top: 470px;
            position: absolute;
            z-index: 1;
            
            }
    .box {
        margin-left: 170px;
        z-index:40;
        width:300px;
        height: 410px;
        margin-top: 10px;
        background-color: rgba(200, 165, 49, .3);
        position:fixed;
    }
spread {
    color: black;
}
.callout {
        
        color:grey;
        font-weight: 500;
        font-size: 18pt;
    }