    /*nav bar*/
     ul {
        font-family: schoolbook, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11pt;
        list-style: none;
        width: 2080px;
        height: 30px; 
        padding-top: 5px;
        position:fixed;
        z-index: 100;
        background-color: rgba(200, 165, 49, .6);
        bottom: 0px;
        align-content: center;
        
    }
    nav li {
        display: inline-block; 
        margin-left: 120px;
        letter-spacing: 2px;
        opacity: 100%; 
    }
    a {
      text-decoration: none;
        color: maroon;
        opacity: 100%;
           
    }
    a:hover {
        font-size: 14pt;
       transition: .5s;
    } 
    /*content*/ 

    h1 {
            margin-left:120vw;
            font-family: montserat, sans-serif;
            font-style: normal;
            font-weight: 700;
            color: #5987A1;
            margin-left: 15vw;
            font-size: 5vw;
            position: absolute;
            margin-top: 39vh;
            z-index: 8;
            
            }
    .plastic {
                display: grid;
                grid-template-columns: 160px 120px 200px;
                align-items: baseline;
                align-items: right;
                margin-left: 50px;
                z-index: 4;
                position:absolute;
                margin-top:70px;
                opacity: 80%
            } 
    .plasticbag {
                z-index: -1;
                margin-top:-400px;
                margin-left:
                opacity: 100%;
                position:absolute;
                transition: 30s;
        }
    .plasticbag:hover {
        transform: skewX(30);
}
    
    .baby {
        position: fixed;
        margin-left: 20vw;
        z-index:0;
        width:300vw;
        opacity: 100%;
        margin-top: 20px;
        transform: rotate (90deg);
        
    }
    p{
            font-family: montserat;
            font-style: normal;
            font-weight: 200;
            color: grey;
            width: 35vw;
            margin-left: 50vw;
            padding-top: 60vh;
            position: absolute;
            z-index: 1;
            }
    .plasticbag:hover{
        transform: skewX(40deg);
    }
    .box {
        margin-left: 22vw;
        z-index: 2;
        width:300px;
        height: 410px;
        margin-top: 10px;
        background-color: rgba(200, 165, 49, .3);
        position: fixed;
    }
    spread {
        color: black;
    }
      .callout {
        color: gray;
        font-weight: 500;
        font-size: 18pt;
    }