
             /*nav bar*/
    ul {
        font-family: schoolbook, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11pt;
        list-style: none;
        width: 2080px;
        height: 30px; 
        padding-top: 5px;
        position:fixed;
        z-index: 100;
        background-color: rgba(200, 165, 49, .6);
        bottom: 0;
        align-content: center;
    }
    nav li {
        
        display: inline-block; 
        margin-left: 120px;
        letter-spacing: 2px;
        opacity: 100%;
        
    }
    a {
      text-decoration: none;
        color: maroon;
        opacity: 100%;
           
    }
    a:hover {
        font-size: 14pt;
        transition: .5s;
    }
    spread {
        color: black;
    }
    /*content*/ 

        h2 {
            font-family: montserat, sans-serif;
            font-style: normal;
            font-weight: 700;
            color: white;
            position: absolute;
            font-size: 40pt;
            margin-left: 200px;
            margin-top: 5px;
            z-index: 1;
         }
        h1 {
            margin-left:120vw;
            font-family: montserat, sans-serif;
            font-style: normal;
            font-weight: 700;
            color: #5987A1;
            margin-left: 800px;
            font-size: 60pt;
            position: absolute;
            margin-top: 280px;
            z-index: 1;
         }
        p{
            font-family: montserat;
            font-style: normal;
            font-weight: 100;
            color: lightgray;
            width: 26vw;
            margin-left: 200px;
            padding-top: 340px;
            position: absolute;
            z-index: 1;
            
        }
            .breadbagharshlighting {
                transform: rotate(180deg);
                background-image:url(images/breadbagharshlighting.jpg) 
                background-color: #cccccc;
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: fixed;
                align-content: right;
                z-index: 0;
                opacity: 100%;
                
        }
            .plastic {
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto auto;
                align-items: baseline;
                align-items: right;
                margin-left: 200px;
                z-index: 1;
                position:absolute;
                margin-top:40px;
                transition: 1s;
            }
            
            .plastic:hover{
                margin-top:50px;
            }
            .plasticwrap {
                z-index: .5;
                margin-top: -2000px;
                opacity: 30%;
                position:fixed;
                transition: 15s;
        }
        .plasticwrap:hover {
            transform: rotateZ(30deg);
            transform: skewY(20deg);   
        }

        .callout {
            color:white;
            font-weight: 500;
            font-size: 18pt;
        }
