/*background*/
    .plasticbag {
                z-index: 0;
                margin-top:-400px;
                margin-left:
                opacity: 100%;
                position:fixed;
                
        } 
     .plasticbag:hover {
         transition: 30s;
        transform:rotate(60deg);

        
    }
/*its a multigenerational*/
        h2 {
            margin-left:120vw;
            font-family: montserrat, sans-serif;
            font-style: normal;
            font-weight: 900;
            color: #5987A1;
            margin-left: 22vw;
            margin-right: 22vw;
            font-size: 4vw;
            position: absolute;
            margin-top:20px;
            z-index: 40;
            }
/*issue*/
    .issue {
        margin-left:120vw;
        font-family: montserrat, sans-serif;
        font-style: normal;
        font-weight: 900;
        color: #5987A1;
        margin-left: 22vw;
        margin-right: 22vw;
        font-size: 4vw;
        position: absolute;
        margin-top:330px;
        z-index: 40;
    }
/*images*/
    .familyphotos {
        opacity: 90%;
        position: absolute;
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto auto auto;
        z-index: 4;
        margin-top:150px;
        left:30%;
        right:30%

    }
    /*family portraits*/ 
    .t2000:hover {
        transform: scale(1.1);
        transition: .5s;
    }
    .t1970:hover {
        transform: scale(1.1);
        transition: .5s;
    }
    .t1950:hover {
        transform: scale(1.1);
        transition: .5s;
    }
    .couch {
        margin-left: 33%;
        margin-right: 33%;
        position: absolute;
        margin-top:450px;
    }
    .couchbackground {
        margin-left: 32%;
        margin-right: 35%;
        position: absolute;
        margin-top:440px;   
    }

     ul {
        position: fixed;
        margin-top: 10px;
    }
    audio {
        opacity: 100%;
        position: fixed;
        z-index: 100;
        margin-top: 500px;
        margin-left: 18vw;
    }

        /*nav bar*/
     ul {
        font-family: schoolbook, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11pt;
        list-style: none;
        width: 2080px;
        height: 30px; 
        padding-top: 5px;
        position:fixed;
        z-index: 100;
        background-color: rgba(200, 165, 49, .6);
        bottom: 0px;
        align-content: center;
        
    }
    nav li {
        
        display: inline-block; 
        margin-left: 120px;
        letter-spacing: 2px;
        opacity: 100%;
        
    }
    a {
      text-decoration: none;
        color: maroon;
        opacity: 100%;
           
    }
    a:hover {
        font-size: 14pt;

        transition: .5s;
    }
    spread {
        color: black;
    }
 .callout {
        font-weight: 500;
        font-size: 18pt;
    }
   

